build/
bin/
obj/
cmake-build-*/
.cmake/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.elf
*.bin
*.hex
*.map
*.o
*.obj
*.la
*.lo

.idea/
.vscode/
*.user
*.pro.user
.qmake.stash
*.mxproject

status.txt
.DS_Store
Thumbs.db
